<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testcase" preserve-order="true" thread-count="8" parallel="classes">
    <test verbose="1" preserve-order="true" name="testcase">
        <packages>
            <package name="com.example.kitchen"></package>
        </packages>
    </test>
</suite>